.status
{
    text-align:center;
    font-size:40px;
    padding-top:20px;
  
}

.game
{
    display: flex;           
    flex-direction: column;  
    justify-content: center
}
.restart
{
    border:none;
    background-color: rgba(54, 27, 177, 0.267);
    font-size:20px;
    font-weight:600;
    color : rgba(54, 27, 177, 0.267);
    padding:20px;
    border-radius:10px;
    border : 5px solid rgba(73, 14, 168, 0.2) ;
    display:block;
    margin:20px;
    width:410px;
    cursor:pointer;
    margin:0 auto;
    margin-top:10px;

}

select
{
    margin:15px;
    border:none;
    background-color: rgba(54, 27, 177, 0.267);
    font-size:20px;
    font-weight:600;
    color : rgba(54, 27, 177, 0.267);
    padding:10px;
    text-align:center;
    border-radius:10px;
    border : 5px solid rgba(73, 14, 168, 0.2) ;
    display:block;
}

select:focus
{
    outline:none;
}
select option{
    border: 5px solid rgba(73, 14, 168, 0.2) ;
}
.options
{
    display: flex;
    justify-content: center;
  }
.restart:focus{
    outline:none;
}
.restart:hover
{
    opacity:0.8;
}